@import "tailwindcss";


/* Add this to your tailwind.css or global.css to hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .trending-slide {
    transition: transform 0.6s ease;
  }
  
  .costum {
    background-color: rgba(0, 0, 0, 0.509);
  }
  
  /* src/index.css or global.css */
.input {
  @apply w-full px-4 py-3 border rounded focus:outline-none focus:ring-2 focus:ring-red-400;
}
.btn-red {
  @apply bg-gradient-to-r from-red-500 to-red-700 text-white py-3 rounded font-semibold;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
